body{
    background-color:beige;
}
legend{
    border: 2px solid red;
}
input[type="submit"] {
  
  border-radius: 40px; 

}

input[type="submit"]:hover {
  background-color: #0056b3; 
}
